/*
* Author: Innovuze Solutions, Inc. 2018
*/
body * {
  font-family: Helvetica; }

.dk-container {
  max-width: 1160px;
  padding: 20px 20px 25px 20px;
  margin: 0px auto; }
  .dk-container ul {
    list-style: none;
    padding: 0; }
  .dk-container .headline-border {
    border-bottom: solid 1px #ccc;
    padding-bottom: 15px;
    font-size: 24px;
    margin-bottom: 15px; }
  .dk-container .headline-desc {
    margin-bottom: 40px;
    font-size: 16px;
    width: 85%; }
    .dk-container .headline-desc .more {
      display: block;
      color: #cc2500;
      font-size: 14px;
      text-decoration: underline; }
  .dk-container .single-headline-desc {
    margin-bottom: 40px;
    font-size: 16px;
    width: 50%;
    margin: 20px 0; }
    .dk-container .single-headline-desc .more {
      display: block;
      color: #cc2500;
      font-size: 14px;
      text-decoration: underline; }
  .dk-container .header-wrap {
    border-bottom: solid 1px #ccc; }
    .dk-container .header-wrap .breadcrumbs ul li {
      display: inline-block;
      color: #666;
      font-size: 12px; }
      .dk-container .header-wrap .breadcrumbs ul li a {
        color: #666;
        margin-right: 5px; }
      .dk-container .header-wrap .breadcrumbs ul li:after {
        content: '>'; }
      .dk-container .header-wrap .breadcrumbs ul li:last-child:after {
        display: none; }
    .dk-container .header-wrap .dk-icon {
      display: inline-block;
      vertical-align: middle;
      border: 2px solid #cc2500ad;
      border-radius: 5px;
      margin-right: 10px;
      width: 50px;
      padding: 3px; }
    .dk-container .header-wrap .headline-title {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      font-size: 28px; }
    .dk-container .header-wrap .btn-actions li a {
      color: #333;
      padding: 10px 20px;
      border: 1px solid #ccc;
      text-decoration: none;
      border-radius: 30px;
      font-weight: 500;
      display: block; }
  .dk-container .dk-calc-cont .calc-type ul {
    list-style: none;
    padding: 5px;
    background: #f2f1f6;
    display: inline-block;
    border-radius: 30px; }
    .dk-container .dk-calc-cont .calc-type ul li {
      display: inline-block;
      margin-right: 3px; }
      .dk-container .dk-calc-cont .calc-type ul li:first-child {
        margin-left: 3px; }
      .dk-container .dk-calc-cont .calc-type ul li a {
        color: #ccc;
        padding: 10px 20px;
        display: block;
        background: #fff;
        width: 160px;
        text-align: center;
        border-radius: 30px;
        text-decoration: none;
        border: 1px solid #ccc; }
        .dk-container .dk-calc-cont .calc-type ul li a:hover, .dk-container .dk-calc-cont .calc-type ul li a.active {
          border: 2px solid #cc2500;
          color: #333; }
  .dk-container .dk-calc-cont .calc-type .dk-search-cont {
    padding: 6px 0; }
    .dk-container .dk-calc-cont .calc-type .dk-search-cont input[type="text"] {
      width: 250px;
      padding: 8px 20px;
      border: 2px solid #e5e5e5;
      border-radius: 5px; }
    .dk-container .dk-calc-cont .calc-type .dk-search-cont button.search {
      width: 150px;
      padding: 10px 20px;
      background: #cc2500;
      color: #fff;
      border-radius: 30px; }
      .dk-container .dk-calc-cont .calc-type .dk-search-cont button.search:focus {
        outline: 0; }
    .dk-container .dk-calc-cont .calc-type .dk-search-cont ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #ccc; }
    .dk-container .dk-calc-cont .calc-type .dk-search-cont ::-moz-placeholder {
      /* Firefox 19+ */
      color: #ccc; }
    .dk-container .dk-calc-cont .calc-type .dk-search-cont :-ms-input-placeholder {
      /* IE 10+ */
      color: #ccc; }
    .dk-container .dk-calc-cont .calc-type .dk-search-cont :-moz-placeholder {
      /* Firefox 18- */
      color: #ccc; }
  .dk-container .dk-calc-cont .dk-calc-lists {
    list-style: none;
    padding: 0;
    display: table;
    width: 100%;
    margin: 30px auto; }
    .dk-container .dk-calc-cont .dk-calc-lists li {
      display: inline-block;
      width: 15%;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-right: 22px;
      margin-bottom: 20px; }
      .dk-container .dk-calc-cont .dk-calc-lists li#dk-request-calc a:hover {
        background: #cc2500;
        color: #fff; }
      .dk-container .dk-calc-cont .dk-calc-lists li:nth-child(6n) {
        margin-right: 0; }
      .dk-container .dk-calc-cont .dk-calc-lists li a {
        display: block;
        text-align: center;
        padding: 15px 10px;
        color: #333;
        font-weight: 700;
        text-decoration: none;
        position: relative; }
        .dk-container .dk-calc-cont .dk-calc-lists li a:hover:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 8px;
          background: #cc2500;
          border-radius: 0 0 5px 5px; }
        .dk-container .dk-calc-cont .dk-calc-lists li a .dk-desc {
          display: block;
          line-height: 18px;
          padding: 10px 0; }
  .dk-container .single-dk-calc-cont {
    padding-top: 20px;
    display: table;
    width: 100%; }
    .dk-container .single-dk-calc-cont .dk-calc-wrap {
      display: table-cell;
      vertical-align: top; }
      .dk-container .single-dk-calc-cont .dk-calc-wrap .inner-box {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 15px;
        width: 100%;
        display: table;
        table-layout: fixed; }
      .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-col {
        display: table-cell;
        padding: 15px; }
        .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-col:first-child {
          max-width: 445px; }
        .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-col .calc-formula {
          background: #f2f1f6;
          border: 1px solid #EEEEEE;
          border-radius: 5px;
          background-color: #F2F1F6;
          padding: 10px 20px;
          margin-bottom: 20px; }
          .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-col .calc-formula .formula-text {
            text-transform: uppercase;
            font-weight: 700;
            border-bottom: 1px solid #ccc; }
          .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-col .calc-formula .formula-desc {
            font-style: italic;
            font-size: 13px;
            margin: 0; }
        .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-col .sub-text {
          color: #333333;
          font-size: 12px;
          line-height: 14px;
          text-align: center; }
        .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-col .calc-output {
          padding: 34px;
          border: 1px solid #EEEEEE;
          border-radius: 5px; }
          .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-col .calc-output .progress {
            height: 70px;
            height: 70px;
            padding: 5px 0;
            border-radius: 0 4px 4px 0;
            background-color: #F2F1F6; }
            .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-col .calc-output .progress .progress-bar-custom {
              background-color: #CC0000;
              border-radius: 0 4px 4px 0;
              position: relative; }
              .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-col .calc-output .progress .progress-bar-custom span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0; }
      .dk-container .single-dk-calc-cont .dk-calc-wrap .calc-type {
        list-style: none;
        padding: 5px;
        background: #f2f1f6;
        display: inline-block;
        border-radius: 30px; }
        .dk-container .single-dk-calc-cont .dk-calc-wrap .calc-type li {
          display: inline-block;
          margin-right: 3px; }
          .dk-container .single-dk-calc-cont .dk-calc-wrap .calc-type li:first-child {
            margin-left: 3px; }
          .dk-container .single-dk-calc-cont .dk-calc-wrap .calc-type li a {
            color: #ccc;
            padding: 10px 20px;
            display: block;
            background: #fff;
            width: 160px;
            text-align: center;
            border-radius: 30px;
            text-decoration: none;
            border: 1px solid #ccc; }
            .dk-container .single-dk-calc-cont .dk-calc-wrap .calc-type li a.active {
              border: 2px solid #cc2500;
              color: #333; }
      .dk-container .single-dk-calc-cont .dk-calc-wrap .input-headline {
        font-weight: bold;
        display: block;
        text-align: left;
        margin: 0 0 5px 0; }
      .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-input {
        position: relative;
        display: inline-block;
        width: 100%; }
        .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-input .input-label {
          position: absolute;
          right: 0;
          background-color: #f2f1f6;
          height: 40px;
          padding: 8px 8px 2px 8px;
          box-sizing: border-box;
          font-weight: bold;
          border: 1px solid #CCCCCC;
          border-radius: 0 3px 3px 0; }
        .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-input .input-answer {
          left: 15px;
          right: auto;
          border-radius: 4px 0 0 4px;
          position: absolute;
          height: 40px;
          padding: 8px 8px 2px 8px;
          box-sizing: border-box;
          font-weight: bold;
          color: #fff; }
        .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-input input {
          border: 1px solid #CCCCCC;
          border-radius: 3px;
          padding: 0px 5px 0px 5px;
          max-width: 100%;
          width: 100%;
          box-shadow: none;
          margin-bottom: 10px;
          box-sizing: border-box;
          height: 40px;
          opacity: 0.5;
          color: #333333; }
          .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-input input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            opacity: 0.5;
            color: #333333; }
          .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-input input::-moz-placeholder {
            /* Firefox 19+ */
            opacity: 0.5;
            color: #333333; }
          .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-input input:-ms-input-placeholder {
            /* IE 10+ */
            opacity: 0.5;
            color: #333333; }
          .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-input input:-moz-placeholder {
            /* Firefox 18- */
            opacity: 0.5;
            color: #333333; }
          .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-input input#esthr {
            padding-left: 30px;
            background: #000;
            color: #fff;
            border: none;
            text-align: center;
            border: none;
            border-radius: 40px; }
            .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-input input#esthr::-webkit-input-placeholder {
              /* Chrome/Opera/Safari */
              color: #fff;
              opacity: 1; }
            .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-input input#esthr::-moz-placeholder {
              /* Firefox 19+ */
              color: #fff;
              opacity: 1; }
            .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-input input#esthr:-ms-input-placeholder {
              /* IE 10+ */
              color: #fff;
              opacity: 1; }
            .dk-container .single-dk-calc-cont .dk-calc-wrap .calculator-input input#esthr:-moz-placeholder {
              /* Firefox 18- */
              color: #fff;
              opacity: 1; }
    .dk-container .single-dk-calc-cont .related-products-mod {
      display: table-cell;
      vertical-align: top;
      width: 330px; }
      .dk-container .single-dk-calc-cont .related-products-mod .inner-wrap {
        margin-left: 15px; }
      .dk-container .single-dk-calc-cont .related-products-mod .headline-title .see-all {
        margin-top: 20px;
        color: #cc2500; }
      .dk-container .single-dk-calc-cont .related-products-mod .prod-lists .relatedproduct {
        border-top: 1px solid #f2f1f6;
        border-bottom: 1px solid #f2f1f6;
        padding: 10px 0; }
        .dk-container .single-dk-calc-cont .related-products-mod .prod-lists .relatedproduct a {
          display: table;
          width: 100%;
          text-decoration: none; }
          .dk-container .single-dk-calc-cont .related-products-mod .prod-lists .relatedproduct a img {
            display: table-cell;
            vertical-align: top;
            max-width: 70px; }
          .dk-container .single-dk-calc-cont .related-products-mod .prod-lists .relatedproduct a .prod-details {
            display: table-cell;
            vertical-align: top; }
            .dk-container .single-dk-calc-cont .related-products-mod .prod-lists .relatedproduct a .prod-details p {
              margin-bottom: 0; }
              .dk-container .single-dk-calc-cont .related-products-mod .prod-lists .relatedproduct a .prod-details p.desc {
                color: #333; }
              .dk-container .single-dk-calc-cont .related-products-mod .prod-lists .relatedproduct a .prod-details p.unit-price {
                color: #333; }
