/*
* Author: Innovuze Solutions, Inc. 2018
*/
body *{
	font-family: Helvetica;
}

.dk-container{
	max-width: 1160px;
    padding: 20px 20px 25px 20px;
    margin: 0px auto;

    ul{
    	list-style: none;
    	padding: 0;
	}

	.headline-border{
		  border-bottom: solid 1px #ccc;
	    padding-bottom: 15px;
	    font-size: 24px;
	    margin-bottom: 15px;
	}

	.headline-desc{
		margin-bottom: 40px;
    	font-size: 16px;
    	width: 85%;

    	.more{
			display: block;
			color: #cc2500;
			font-size: 14px;
			text-decoration: underline;
    	}
	}

	.single-headline-desc{
		margin-bottom: 40px;
	    font-size: 16px;
	    width: 50%;
	    margin: 20px 0;

	    .more{
			display: block;
			color: #cc2500;
			font-size: 14px;
			text-decoration: underline;
    	}
	}

	.header-wrap{
		border-bottom: solid 1px #ccc;

		.breadcrumbs{
			ul{
				li{
					display:inline-block;
					color: #666;
					font-size: 12px;

					a{
						color: #666;
						margin-right: 5px;
					}

					&:after{
						content:'>';
					}

					&:last-child{
						&:after{
							display: none;
						}
					}
				}
			}
		}
		.dk-icon{
			display: inline-block;
			vertical-align: middle;
			border: 2px solid #cc2500ad;
			border-radius: 5px;
			margin-right: 10px;
			width: 50px;
			padding: 3px;
		}
		.headline-title{
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			font-size: 28px;
		}
		.btn-actions{
			li{
				a{
					color: #333;
				    padding: 10px 20px;
				    border: 1px solid #ccc;
				    text-decoration: none;
				    border-radius: 30px;
				    font-weight: 500;
				    display: block;
				}
			}
		}
	}

	.dk-calc-cont{

		.calc-type{

			ul{
				list-style: none;
				padding: 5px;
				background: #f2f1f6;
				display: inline-block;
				border-radius: 30px;

    			li{
    				display: inline-block;
    				margin-right: 3px;

    				&:first-child{
    					margin-left: 3px;
    				}

    				a{
    					color: #ccc;
					    padding: 10px 20px;
					    display: block;
					    background: #fff;
					    width: 160px;
					    text-align: center;
					    border-radius: 30px;
					    text-decoration: none;
					    border: 1px solid #ccc;

					    &:hover, &.active{
					    	border: 2px solid #cc2500;
					    	color: #333;
						}
    				}
    			}
			}
			.dk-search-cont{
				padding: 6px 0;

				input[type="text"]{
				    width: 250px;
				    padding: 8px 20px;
				    border: 2px solid #e5e5e5;
				    border-radius: 5px;
				}
				button.search{
					width: 150px;
				    padding: 10px 20px;
				    background: #cc2500;
				    color: #fff;
				    border-radius: 30px;

				    &:focus{
				    	outline: 0;
					}
				}

				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #ccc;
				}
				::-moz-placeholder { /* Firefox 19+ */
				  color: #ccc;
				}
				:-ms-input-placeholder { /* IE 10+ */
				  color: #ccc;
				}
				:-moz-placeholder { /* Firefox 18- */
				  color: #ccc;
				}
			}
		}

		.dk-calc-lists{
			list-style: none;
    		padding: 0;
    		display: table;
    		width: 100%;
    		margin: 30px auto;

    		li{
    			display: inline-block;
    			width: 15%;
    			border: 1px solid #ccc;
    			border-radius: 5px;
    			margin-right: 22px;
    			margin-bottom: 20px;

    			&#dk-request-calc{
    			
					a{
						&:hover{
							background: #cc2500;
							color: #fff;
						}
					}
				}

    			&:nth-child(6n){
    				margin-right: 0;
    			}

    			a{
	    			display: block;
	    			text-align: center;
    				padding: 15px 10px;
    				color: #333;
    				font-weight: 700;
    				text-decoration: none;
    				position: relative;

    				&:hover{

    					&:after{
							content: '';
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							height: 8px;
							background: #cc2500;
							border-radius: 0 0 5px 5px;
    					}
    				}

	    			.dk-desc{
	    				display: block;
	    				line-height: 18px;
    					padding: 10px 0;
	    			}
    			}
    		}
		}
	}

	.single-dk-calc-cont{
		padding-top: 20px;
		display: table;
		width: 100%;

		.dk-calc-wrap{
			display: table-cell;
			vertical-align: top;

			.inner-box{
				border: 1px solid #ccc;
				border-radius: 5px;
				margin-right: 15px;
				width: 100%;
				display: table;
				table-layout: fixed;
			}

			.calculator-col{
				display: table-cell;
				padding: 15px;

				&:first-child{
					max-width: 445px;
				}

				.calc-formula{
					background: #f2f1f6;
					border: 1px solid #EEEEEE;
					border-radius: 5px;
					background-color: #F2F1F6;
					padding: 10px 20px;
					margin-bottom: 20px;

				    .formula-text{
				    	text-transform: uppercase;
    					font-weight: 700;
    					border-bottom: 1px solid #ccc;
					}

					.formula-desc{
						font-style: italic;
						font-size: 13px;
						margin: 0;
					}
				}

				.sub-text{
					color: #333333;
					font-size: 12px;
					line-height: 14px;
					text-align: center;
				}

				.calc-output{
					padding: 34px;
				    border: 1px solid #EEEEEE;
				    border-radius: 5px;

					.progress{
						height: 70px;
						height: 70px;
						padding: 5px 0;
						border-radius: 0 4px 4px 0;
						background-color: #F2F1F6;

						.progress-bar-custom{
							background-color: #CC0000;
							border-radius: 0 4px 4px 0;
							position: relative;

							span{
								position: absolute;
							    top: 50%;
							    transform: translateY(-50%);
							    left: 0;
							    right: 0;
							}
						}
					}
				}
			}

			.calc-type{
				list-style: none;
			    padding: 5px;
			    background: #f2f1f6;
			    display: inline-block;
			    border-radius: 30px;

			    li{
			    	display: inline-block;
	    			margin-right: 3px;

	    			&:first-child{
	    				margin-left: 3px;
	    			}

	    			a{
	    				color: #ccc;
					    padding: 10px 20px;
					    display: block;
					    background: #fff;
					    width: 160px;
					    text-align: center;
					    border-radius: 30px;
					    text-decoration: none;
					    border: 1px solid #ccc;

					    &.active{
					    	border: 2px solid #cc2500;
	    					color: #333;
						}
	    			}
				}
			}

			.input-headline{
				font-weight: bold;
			    display: block;
			    text-align: left;
			    margin: 0 0 5px 0;
			}
			.calculator-input{
				position: relative;
				display: inline-block;
				width: 100%;

				.input-label{
				    position: absolute;
				    right: 0;
				    background-color: #f2f1f6;
				    height: 40px;
				    padding: 8px 8px 2px 8px;
				    box-sizing: border-box;
				    font-weight: bold;
				    border: 1px solid #CCCCCC;
				    border-radius: 0 3px 3px 0;
				}

				.input-answer{
					left: 15px;
				    right: auto;
				    border-radius: 4px 0 0 4px;
				    position: absolute;
				    height: 40px;
				    padding: 8px 8px 2px 8px;
				    box-sizing: border-box;
				    font-weight: bold;
				    color: #fff;
				}

				input{
					border: 1px solid #CCCCCC;
					border-radius: 3px;
					padding: 0px 5px 0px 5px;
					max-width: 100%;
					width: 100%;
					box-shadow: none;
					margin-bottom: 10px;
					box-sizing: border-box;
					height: 40px;
					opacity: 0.5;
					color: #333333;

					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						opacity: 0.5;
						color: #333333;
					}
					&::-moz-placeholder { /* Firefox 19+ */
					 	opacity: 0.5;
						color: #333333;
					}
					&:-ms-input-placeholder { /* IE 10+ */
					  	opacity: 0.5;
						color: #333333;
					}
					&:-moz-placeholder { /* Firefox 18- */
					  	opacity: 0.5;
						color: #333333;
					}

					&#esthr{
						padding-left: 30px;
						background: #000;
					    color: #fff;
					    border: none;
					    text-align: center;
					    border: none;
					    border-radius: 40px;

						&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						  color: #fff;
						  opacity: 1;
						}
						&::-moz-placeholder { /* Firefox 19+ */
						  color: #fff;
						  opacity: 1;
						}
						&:-ms-input-placeholder { /* IE 10+ */
						  color: #fff;
						  opacity: 1;
						}
						&:-moz-placeholder { /* Firefox 18- */
						  color: #fff;
						  opacity: 1;
						}
					}
				}
			}
		}

		.related-products-mod{
			display: table-cell;
			vertical-align: top;
			width: 330px;
			
			.inner-wrap{
				margin-left: 15px;
				
			}

			.headline-title{

				.see-all{

					margin-top: 20px;
    				color: #cc2500;
				}
			}

			.prod-lists{

				.relatedproduct{
					border-top: 1px solid #f2f1f6;
    				border-bottom: 1px solid #f2f1f6;
    				 padding: 10px 0;

					a{
						display: table;
						width: 100%;
						text-decoration: none;

						img{
							display: table-cell;
							vertical-align: top;
							max-width: 70px;
						}
						.prod-details{
							display: table-cell;
							vertical-align: top;

							p{
								margin-bottom: 0;

								&.desc{
									color: #333;
								}

								&.unit-price{
									color: #333;
								}
							}
						}
					}
				}
			}
		}
	}
}





