@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'dk';
  src:  url('dk_fonts/dk_eot.eot?jeznaw');
  src:  url('dk_fonts/dk_eotie.eot?jeznaw#iefix') format('embedded-opentype'),
    url('dk_fonts/dk_ttf.ttf?jeznaw') format('truetype'),
    url('dk_fonts/dk_woff.woff?jeznaw') format('woff'),
  font-weight: normal;
  font-style: normal;
}